MANDOFORGE_REMOTE_COMPUTER_LOCAL_HOSTPATH_PV_NAME=mandoforge-remote-computer-state-juicefs-pv
MANDOFORGE_REMOTE_COMPUTER_LOCAL_HOSTPATH_PATH=/opt/mandoforge-adoption/remote-computer-state
MANDOFORGE_REMOTE_COMPUTER_LOCAL_HOSTPATH_CAPACITY=20Gi
